
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="/css/me.css">
    <style>
        html { height: 96%; overflow: auto; }
        body { min-height: 96%; }
        footer {
            position:absolute !important;;
            width: 100%;
            bottom: 0;
        }
    </style>
</head>
<body class="login-bg">

<br>
<br>
<br>
<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ur container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        修改密码
                    </div>
                </h2>

                <form class="ui large form" method="post" action="/user/changePassword">
                    <div class="ui  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="text" name="username" value="" placeholder="旧密码">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="新密码">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password1" placeholder="确认密码">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">修 改</button>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:text="${msg}">用户名和密码错误</div>
                </form>

            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script src="/lib/prism/prism.js"></script>
<script src="/lib/tocbot/tocbot.min.js"></script>
<script src="/lib/qrcode/qrcode.min.js"></script>
<script src="/lib/waypoints/jquery.waypoints.min.js"></script>
<script src="/lib/editormd/editormd.min.js"></script>
<script>
    $('#newblog-container').load(/*/footer/newblog*/"/footer/newblog");
</script>
<script>
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>

<script>
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入旧密码'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入新密码'
                }]
            },
            password1: {
                identifier: 'password1',
                rules: [{
                    type: 'empty',
                    prompt: '请确认新密码'
                }]
            }
        }
    });
</script>

</body>
</html>