<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>博客管理</title>
</head>

<body>

<!--头部导航-->
<nav th:replace="_fragments :: menu(0)"></nav>


<!--中间内容-->
<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success large  message">
            <h3>Hi,</h3>
            <p>lmt，欢迎登录！</p>
        </div>

        <!--登录成功图片-->
        <img th:src="@{/images/welcome.jpg}" alt="" class="ui rounded bordered fluid image">
        <form action="/fileupload" method="post" enctype="multipart/form-data">
            选择文件：<input type="file" name="upload" /><br/>
            <input type="submit" value="上传" />
        </form>
    </div>
</div>

<br>
<br>

<!--底部footer-->
<footer th:replace="_fragments :: footer">

</footer>


<th:block th:replace="_fragments :: script">

</th:block>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

</script>
</body>
</html>